p{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
}
nav {
    display: block;
    width: 300px;
    margin: 0px auto 0px;
    padding-top: 10px;
}
.menu{
    display: flex;
    list-style: none;
    margin: 0px;
    padding-left: 0px;
}
.pic{
    display: block;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}
.text1{
    margin: 5px auto 0px;
    padding: 0 0;
    list-style-type: none;
    color: white;
    background-color: rgba(237, 28, 36, 125);
    font-size: 13pt;
    text-align: justify;
    width: 315px;
}
.text2{
    margin: 5px auto 0px;
    padding: 0 0;
    list-style-type: none;
    color: dimgray;
    background-color: yellow;
    font-size: 13pt;
    width: 315px;
    text-align: justify;
}
.text3{
    margin: 5px auto 0px;
    padding: 0 0;
    list-style-type: none;
    color: white;
    background-color: forestgreen;
    font-size: 13pt;
    width: 315px;
    text-align: justify;
}
.text4{
    margin: 5px auto 0px;
    padding: 0 0;
    list-style-type: none;
    color: grey;
    background-color: pink;
    font-size: 13pt;
    width: 315px;
    text-align: justify;
}
.text5{
    margin: 5px auto 0px;
    padding: 0 0;
    list-style-type: none;
    color: rgb(238, 238, 238);
    background-color: rgb(69, 80, 230);
    font-size: 13pt;
    width: 315px;
    text-align: justify;
}
.button:hover{
    transform: scale(1.1);
}
/*-a-
@media(min-width:0) and (max-width:320){
    .logo{
        text-
    }
}*/
